

{% block content %}
  <!-- ... el resto de tu formulario ... -->
  {% if tipo == 'practica' %}
    <button 
      type="button" 
      class="btn btn-secondary mb-3" 
      data-bs-toggle="modal" 
      data-bs-target="#modalPracticas"
    >Agregar Práctica</button>

    <!-- Aquí se renderiza el inline formset -->
    <div id="practicas-formset">
      
      {{ formset.management_form }}
      {% for subform in formset %}
        <div class="row practica-item">
          <div class="col-6"></div>
          
          {{ formset.empty_form.practica.label_tag }}
          {{ formset.empty_form.practica }}
          
        </div>
      {% endfor %}
    </div>

    <!-- template oculto para clonar -->
    <script type="text/template" id="empty-form">
      <div class="row practica-item">
        <div class="col-8">
          <label for="id_items_practica-__prefix__-practica">Práctica:</label>
          <select name="items_practica-__prefix__-practica"
            id="id_items_practica-__prefix__-practica"
            hinden>
          </select>
        </div>
        <div class="col-1">
          <input type="checkbox"
             name="items_practica-__prefix__-DELETE"
             id="id_items_practica-__prefix__-DELETE">
        </div>
      </div>
    </script>
  {% endif %}



  <!-- Modal de búsqueda de prácticas -->
  <div class="modal fade" id="modalPracticas" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buscar Práctica</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {# Aquí usamos el empty_form.practica que viene con el widget de DAL #}
          <select
            id="id_practica"
            class="django-autocomplete-light"
            data-minimum-input-length="1"
            data-ajax--url="{% url 'consultas:practica-autocomplete' %}"
            style="width:100%"
            data-placeholder="Escribe código o nombre..."
          >
            <option></option>
          </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}



