<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Visitar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
                       href="{% url 'home' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="afiliadosDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Afiliados
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="afiliadosDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'afiliados:lista_afiliados' %}">
                                    Listar Afiliados
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'afiliados:importar_afiliados' %}">
                                    Importar Afiliados
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="consultasDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Consultas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="consultasDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'consultas:nueva_consulta' %}">
                                    <i class="fas fa-file-medical"></i> Emitir Bono
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'consultas:lista_bonos' %}">
                                    <i class="fas fa-list"></i> Listar Bonos
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Salir</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> 