{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

    <div class="container">
        <h2 class="mt-5">Iniciar sesión</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row form-group">
            <div class="col col-md-3">{{form.username.label}}</div>
            <div class="col-12 col-md-9">{{form.username}}</div>
        </div>
            <div class="row form-group">
            <div class="col col-md-3">{{form.password.label}}</div>
            <div class="col-12 col-md-9">{{form.password}}</div>
        </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>

{% endblock %}